body{
	background-color: rgb(129,216,208);
}
.info{
	
	position: relative;
	margin:300px auto ;
	width: 200px;
	height: 200px;
	background-color: rgba(255,255,255,0.5);
	border-radius: 10px;
	-webkit-border-radius:10px;
	-moz-border-radius: 10px;

}
#file{
	background:none;
	border-radius: 5px;
	width:150px;
	height:30px;
	border:none;
	display: inline-block;
	position: relative;
	margin:16% 12%;
	text-align: center;
	font-size: 18px;
	color:rgb(129,216,208);

}
.submit_btn{
	width:100px;
	display: inline-block;
	position: relative;
	margin:0 0 20px 50px;
	background-color: rgb(129,216,208);
	border-radius: 5px;
	border:1px solid rgb(129,216,208);
	padding:4px;
	color:#999;
	font-size: 14px;


	
}
.view_btn{
	width:100px;
	display: inline-block;
	position: relative;
	margin:0 0 0 50px;
	background-color: rgb(129,216,208);
	border-width:100px; 
	border-radius: 5px;
	border:1px solid rgb(129,216,208);
	padding:4px;
	color:#999;
	font-size: 14px;

}
::-webkit-input-placeholder { 
    color:    #999;
}
:-moz-placeholder { 
    color:    #999;
}
::-moz-placeholder { 
    color:    #999;
}
:-ms-input-placeholder { 
    color:    #999;
}
.error::-webkit-input-placeholder { 
    color:    rgb(129,216,208);
}
.error:-moz-placeholder { 
    color:    rgb(129,216,208);
}
.error::-moz-placeholder { 
    color:    rgb(129,216,208);
}
.error:-ms-input-placeholder { 
    color:    rgb(129,216,208);
}

.search{
	text-align: right;
	margin: -20px 0 20px 0;
}